@CHARSET "UTF-8";
.flex_add {
	background-image: url("/public/images/icons/add.png");
	background-repeat: no-repeat;
}

.flex_edit {
	background-image: url("/public/images/icons/edit.png");
	background-repeat: no-repeat;
}

.flex_delete {
	background-image: url("/public/images/icons/delete.png");
	background-repeat: no-repeat;
}

.flexigrid {
	margin-top: 10px;	
}

.adminDetails { 
	margin: 10px; 
	color: #666699; 
	width: 100%;
	border-collapse: collapse;
}
.adminDetails .label { 
	text-align:left; 
	width: 100px;
	color: white;
	background-color: #6997BF;
}
.adminDetails td { 
	padding: 5px 5px;
	border-bottom: 1px solid #CFE0E8;
	border-top: 1px solid #CFE0E8;
}

#flashMsg {
    background: none repeat scroll 0 0 #E3FFEC;
    border: 1px solid #00631F;
    border-radius: 5px 5px 5px 5px;
    color: #00631F;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}

#errorMsg {
    background: none repeat scroll 0 0 #F7E9EC;
    border: 1px solid #BF0030;
    border-radius: 5px 5px 5px 5px;
    color: #BF0030;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}