@CHARSET "UTF-8";
input { 
	border: 1px solid gray;
	font-size: 12px;
	border-radius: 3px;
}

#actionsContainer {
	margin-top: 10px;
	text-align:right;
	border-top: 1px dotted silver;
	padding-top: 5px;
}

input[type="button"],  input[type="submit"] {
	background: url("/public/images/components/button_bg.png") no-repeat scroll right top transparent;
	border: 1px solid #7799BF;
	padding: 1px 9px;
	border-radius: 10px;
	color: #003C80;
	margin: 2px 5px;
	cursor: pointer;
}


input[type="button"]:hover, input[type="submit"]:hover {
	color: #D98123;
}

input.error {
    border: 1px solid #BF0030;
}

select {
	font-size: 12px;
}

textarea {
	border: 1px solid gray;	
	resize: none;
	width: 200px;
	border-radius: 3px;
}

checkbox {
	border: 1px solid #7799BF;
}

label {
	font-weight: bold;
	padding-right: 5px;
}

label.error { 
	float: none; 
	color: #C45002; 
	padding-left: 1.5em;
	margin-left: 5px; 
	vertical-align: middle; 
	font-weight: normal;
	background-image: url("/public/images/icons/warning.png");
	background-repeat: no-repeat;
	height: 20px;
}

label em {
	color: #BF0030;
	margin: 0 3px;
}

.smallTxt { width: 40px; }
.mediumTxt { width: 100px; }
.longTxt { width: 200px; }
.longSelect{ width: 206px; }
 
.formError {
	border: 1px solid #BF0030;
}

.message-error p, #errors {
    background: none repeat scroll 0 0 #F7E9EC;
    border: 1px solid #BF0030;
    border-radius: 5px 5px 5px 5px;
    color: #BF0030;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}

.message-success p {
    background: none repeat scroll 0 0 #EEFAED;
    border: 1px solid #134D0E;
    border-radius: 5px 5px 5px 5px;
    color: #134D0E;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
}

#errors li {
	padding: 2px;
}

/*.required {
	margin-left: 10px;
	font-style: italic;
	color: #999;
}*/


.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}
