/*
 * http://kuler.adobe.com/
 * bassin rich
 * C4CCBB
 * 1C202E
 * 2D4469
 * 5CB9F2
 * 73DBFE
 */
@CHARSET "UTF-8";
body {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #545454;
	background-image: url("/public/images/components/main-bg.png");
	background-repeat: repeat-x;
}
#wrapper {
	background: white;
	width: 980px;
	overflow: hidden;
	margin: auto auto
}

#header {
	height: 65px;
	background-color: #004F94;
	/*border: 1px solid orange;*/
}

#header h1 {
	margin: 0px 0px 0px 10px;
	padding: 35px 0px 0px 0px;
	font-size: 15px;
	font-family: arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
}

#accountBar {
    padding: 5px 10px;
    background-color: #E4EDF5;
    text-align: right;
}

#sidebar {
	float: left;	
	width: 200px;
	min-height: 700px;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
}

#content {
	float: left;
	width: 747px;
	min-height: 700px;
	padding: 7px 15px;
	border: 1px solid silver;
	border-bottom: none;
}

#footer {
	background: #C4CCBB;
}

.clear {
	clear: both;
}
.rightAligned {
	text-align:right;
}
.centered {
	text-align: center;
}

#content h1 {
    color: #C45002;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-bottom: 2px;
}

#content h2 {
    color: #004F94;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
	letter-spacing: 0.5px;
}

