@CHARSET "UTF-8";
body {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #545454;
	background-image: url("/public/images/components/main-bg.jpg");
	background-repeat: repeat-x;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

#wrapper {
	width: 980px;
	overflow: hidden;
	margin: auto auto
}

#header {
	height: 65px;
	background-color: #004F94;
}

#header h1 {
	margin: 0px 0px 0px 10px;
	padding: 35px 0px 0px 0px;
	font-size: 15px;
	font-family: arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
}

#accountBar {
    padding: 5px 10px;
    background-color: #E4EDF5;
    text-align: right;
}

#sidebar {
	background: white;
	float: left;	
	width: 200px;
	min-height: 700px;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
}

#content {
	background: white;
	float: left;
	width: 746px;
	min-height: 700px;
	padding: 7px 15px;
	border: 1px solid silver;
	border-bottom: none;
}

#footer {
	padding-top: 50px;
}

.clear {
	clear: both;
}
.rightAligned {
	text-align:right;
}
.centered {
	text-align: center;
}

#content h1 {
    /* color: #C45002; */
    color: #004F94;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 5px 0;
}

#content h1 img {
	float: left;
	width: 64px;
	height: 64px;
}

#content h1 div {
    padding-left: 71px;
    padding-top: 25px;
}

#content h2 {
    color: #004F94;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
	letter-spacing: 0.5px;
}

#content h3 { 
   font-weight: bold; 
   /* color: #004F94; */
   color: #C45002;
   margin: 5px 0px;
   border-bottom: 1px dotted silver;
   padding-bottom: 4px;
}
#content h4 {
	font-weight: bold;
}

.controls {
	margin-top:40px;
	padding-top:10px;
}


.hiliteRow {
	background: #FAF4E1;
}

dl dt {
	float:left;
	width: 120px;
	text-align: right;
	padding: 3px 10px 3px 3px;
	font-weight: bold;
}

dl dd {
	padding: 3px 10px 3px 3px;
}

.removeBtn {
	width: 16px;
	height: 16px;
	background-image: url("/public/images/icons/delete.png");
	cursor: pointer;
}


.action img { float: left; }
.action span { float: left; margin: 3px 0px 0px 1px; }

.tabular { margin-bottom: 20px }
.tabular dt {
	float: left;
	font-weight: strong;
	text-align: right;
	padding: 5px;
}
.tabular dd { padding: 5px; }
#section { margin-top: 20px }

.subtle {
	font-size: 12px;
	color: #999;
}


#generalError {
	background-image: url("/public/images/icons/error.png");
    background-repeat: no-repeat;
    font-size: 15px;
    height: 44px;
    margin: 29px 20px;
    padding-left: 39px;
    padding-top: 9px;
}

/******************** summary table ********************/
.summaryTable {
	font-size: 12px;
	margin-top: 5px;
	width: 750px;
}
.summaryTable thead tr th { padding: 5px; }
.summaryTable thead tr {
	background-color: #6997BF;
	color: #eee;
	text-align: center;
	font-weight: bold;
}
.summaryTable tr {
	color: #333;
	border: 1px solid silver;
}
.summaryTable td, .summaryTable thead th {
	padding: 3px;
	border: 1px solid silver;
}
.summaryTable a {
	/*color: #C45002;*/
	color: #3B5998;
	text-decoration: none;
}
.summaryTable .hiliteRow {
	background-color: #E4EDF5;
}
/******************** end summary table ****************/

.creditBadge {
	vertical-align:top; 
	margin-left: 5px; 
}