/*
 * http://kuler.adobe.com/
 * bassin rich
 * C4CCBB
 * 1C202E
 * 2D4469
 * 5CB9F2
 * 73DBFE
 */
@CHARSET "UTF-8";
body {
	font-family: arial, sans-serif;
	font-size: 12px;
}
#wrapper {
	width: 100%;
	overflow: auto;
}

#header {
	height: 65px;
	background-color: #004F94;
	/*border: 1px solid orange;*/
}

#header h1 {
	margin: 0px 0px 0px 10px;
	padding: 35px 0px 0px 0px;
	font-size: 15px;
	font-family: arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
}

#accountBar {
   	border-bottom: 1px solid silver;
    padding: 5px 10px;
    background-color: #E4EDF5;
    text-align: right;
}

#sidebar {
	float: left;	
	width: 200px;
	min-height: 700px;
	border-right: 1px solid silver;
}

#content {
	float: left;
	width: 72%;
	min-height: 700px;
	padding: 7px;
}

#footer {
	background: #C4CCBB;
}

.clear {
	clear: both;
}

