@CHARSET "UTF-8";

#creditTable {
	font-size: 12px;
	margin-top: 5px;
	width: 750px;
}

#salesSummary {
	margin-top: 5px;
	margin-left: 618px;
}

.salesSummaryLabel {
	font-weight:bold;
	width: 70px;
	padding-right: 10px;
	padding-top: 3px;
}